In [63]:
import pandas as pd
import numpy as np

Utilizando o arquivo: collected research people.csv <br/>
Desenvolva os seguintes exercícios utilizando técnicas de data wrangling
apresentadas nas aulas anteriores. Verifique, considerando a base de dados
collected research people, quais os campos trarão valor para cada cenários e
quais as transformações de dados necessárias.

In [64]:
data = 'D:\Projetos\WMC\Data_Analytics_WoMakersCode_Bootcamp\exercicios_python\data_wrangling\data\collected research people.csv'
df_pesquisa = pd.read_csv(data)
df_pesquisa.head()

,Unnamed: 0,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [65]:
df_pesquisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        37 non-null     int64
 1   Nome                              37 non-null     object
 2   Endereerço                        29 non-null     object
 3   Cidade                            27 non-null     object
 4   Estado                            24 non-null     object
 5   phone                             25 non-null     object
 6   anual_income                      25 non-null     float64
 7   Estado Civil                      25 non-null     object
 8   AAge                              30 non-null     float64
 9   n_filhos                          22 non-null     float64
 10  Moradia                           28 non-null     object
 11  Food_restrictions                 24 non-null     object
 12  streaming                         22 non-null     object
 13  diariamente_sun blocker           25 non-null     object
 14  Vai na Praia Mensalmente          29 non-null     object
 15  Faz Academia                      21 non-null     object
 16  Compra e Lê Livros Todos os Anos  23 non-null     object
 17  Quantidade de Livros Comprados    10 non-null     float64
 18  Autor Favorito                    12 non-null     object
 19  email                             37 non-null     object
dtypes: float64(4), int64(1), object(15)
memory usage: 5.9+ KB

### Tratando o DataFrame

In [66]:
df_pesquisa.drop(['Unnamed: 0'], axis=1, inplace=True)
df_pesquisa.columns

Index(['Nome', 'Endereerço', 'Cidade', 'Estado', 'phone', 'anual_income',
       'Estado Civil', 'AAge', 'n_filhos', 'Moradia', 'Food_restrictions',
       'streaming', 'diariamente_sun blocker', 'Vai na Praia Mensalmente',
       'Faz Academia', 'Compra e Lê Livros Todos os Anos',
       'Quantidade de Livros Comprados', 'Autor Favorito', 'email'],
      dtype='object')

In [67]:
dicionario_dfpesquisa = {'Nome' : 'nome',
                         'Endereerço': 'endereco', 
                         'Cidade' : 'cidade', 
                         'Estado' : 'estado', 
                         'phone' : 'telefone', 
                         'anual_income' : 'renda_anual',
                         'Estado Civil' : 'estado_civil', 
                         'AAge' : 'idade', 
                         'n_filhos' : 'num_filhos', 
                         'Moradia' : 'moradia', 
                         'Food_restrictions' : 'restricao_alimentar',
                         'diariamente_sun blocker' : 'usa_protetor_diariamente', 
                         'Vai na Praia Mensalmente' : 'vai_praia_mensalmente',
                         'Faz Academia' : 'faz_academia', 
                         'Compra e Lê Livros Todos os Anos' : 'compra_le_listros_anualmente',
                         'Quantidade de Livros Comprados' : 'qtd_livros_comprados',
                         'Autor Favorito' : 'autor_favorito'}
df_pesquisa.rename(columns=dicionario_dfpesquisa, inplace=True)
df_pesquisa.columns

Index(['nome', 'endereco', 'cidade', 'estado', 'telefone', 'renda_anual',
       'estado_civil', 'idade', 'num_filhos', 'moradia', 'restricao_alimentar',
       'streaming', 'usa_protetor_diariamente', 'vai_praia_mensalmente',
       'faz_academia', 'compra_le_listros_anualmente', 'qtd_livros_comprados',
       'autor_favorito', 'email'],
      dtype='object')

In [68]:
df_pesquisa.nome

0            Maria Clara Novaes
1           Davi Lucca Pereira>
2             Sr. Caio Caldeira
3               Kaique Azevedo%
4                 Pedro Moreira
5         Sra. Ana Júlia Castro
6                Erick Carvalho
7        Sra. Ana Sophia Vieira
8              Dav4i Nascimento
9                 Juan da Mota<
10               Stephany Pinto
11                Joana Rezende
12         Dra. Letícia Ribeiro
13              Beatriz Azevedo
14               André Monteiro
15        João Guilherme Porto^
16               Augusto_ Rocha
17      Srta. Isabelly da Rocha
18              Heloísa Santos>
19              Calebe Azevedo.
20                   _Ana Alves
21      Maria Fernanda Ribeiro=
22                 Samuel Jesus
23               Beatriz Ramos?
24               Dr. Davi Cunha
25            Enrico Cavalcanti
26                /Raquel Moura
27               Lorena Cardoso
28              Diogo Caldeira#
29              Maria Gonçalves
30              Isadora Cardoso
31               Igor Ferreira'
32               Sabrina Nunes}
33           Pedro Miguel Silva
34    Dra. Clarice da Conceição
35            Daniel Rodrigues'
36                   Isis Silva
Name: nome, dtype: object

o **\W** equivale a [^a-zA-Zà-úÀ-Ú0-9_]

In [69]:
df_pesquisa.nome.str.replace('[^a-zA-Zà-úÀ-Ú ]', '', regex=True) ## adptando para não permitir números em nome

0           Maria Clara Novaes
1           Davi Lucca Pereira
2             Sr Caio Caldeira
3               Kaique Azevedo
4                Pedro Moreira
5         Sra Ana Júlia Castro
6               Erick Carvalho
7        Sra Ana Sophia Vieira
8              Davi Nascimento
9                 Juan da Mota
10              Stephany Pinto
11               Joana Rezende
12         Dra Letícia Ribeiro
13             Beatriz Azevedo
14              André Monteiro
15        João Guilherme Porto
16               Augusto Rocha
17      Srta Isabelly da Rocha
18              Heloísa Santos
19              Calebe Azevedo
20                   Ana Alves
21      Maria Fernanda Ribeiro
22                Samuel Jesus
23               Beatriz Ramos
24               Dr Davi Cunha
25           Enrico Cavalcanti
26                Raquel Moura
27              Lorena Cardoso
28              Diogo Caldeira
29             Maria Gonçalves
30             Isadora Cardoso
31               Igor Ferreira
32               Sabrina Nunes
33          Pedro Miguel Silva
34    Dra Clarice da Conceição
35            Daniel Rodrigues
36                  Isis Silva
Name: nome, dtype: object

In [70]:
df_telefone = df_pesquisa.telefone.str.replace('[^0-9() +-]', '*', regex=True)

In [71]:
df_pesquisa.loc[df_telefone.str.contains('[*]', na=False), 'telefone'] = np.nan

In [72]:
df_pesquisa.telefone

0         (011) 3908 5991
1                     NaN
2                     NaN
3                     NaN
4                     NaN
5     +55 (084) 4591-2403
6            84 9687 5023
7                     NaN
8        +55 51 6868 3666
9                     NaN
10                    NaN
11          0900 093 9760
12                    NaN
13           81 2891-7504
14                    NaN
15                    NaN
16           41 5504 8546
17           84 2319-1532
18          0800 612 6032
19                    NaN
20           51 5882 5998
21                    NaN
22                    NaN
23    +55 (021) 4719 9862
24        (084) 0305 6725
25        (011) 3410 5199
26                    NaN
27           84 6014-5325
28                    NaN
29       +55 71 7088-8329
30                    NaN
31           21 0712-6859
32       +55 51 2213 5603
33                    NaN
34       +55 51 8245 2336
35        (061) 5002 3548
36                    NaN
Name: telefone, dtype: object

In [73]:
df_pesquisa.estado_civil.unique()

array([nan, 'S', 'Casado', 'Solteiro', 'D', 'Divorciado', 'C', 'V',
       'Viúvo'], dtype=object)

In [74]:
dicionario_estado_civil = {'S' : 'Solteiro',
                           'C' : 'Casado',
                           'D' : 'Divorciado',
                           'V' : 'Viúvo'}
df_pesquisa['estado_civil'].replace(dicionario_estado_civil, inplace=True)
df_pesquisa.estado_civil.unique()

C:\Users\Joana\AppData\Local\Temp\ipykernel_15656\2620833121.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_pesquisa['estado_civil'].replace(dicionario_estado_civil, inplace=True)

array([nan, 'Solteiro', 'Casado', 'Divorciado', 'Viúvo'], dtype=object)

### Cenário 1
A empresa Carri Construtora contratou a empresa que você trabalha para
encontrar possíveis compradores para o seus novos empreendimentos.
A empresa quer entender as necessidades dos clientes, e quer informações
com:
* Quais cliente devemos abordar;
* Qual empreendimento nós devemos mostrá-los;
* Esse cliente está em busca de investir em um imóvel ou comprar para moradia?

Se renda anual <= 104 = pode participar do Minha casa minha vida

In [75]:
df_pesquisa.columns

Index(['nome', 'endereco', 'cidade', 'estado', 'telefone', 'renda_anual',
       'estado_civil', 'idade', 'num_filhos', 'moradia', 'restricao_alimentar',
       'streaming', 'usa_protetor_diariamente', 'vai_praia_mensalmente',
       'faz_academia', 'compra_le_listros_anualmente', 'qtd_livros_comprados',
       'autor_favorito', 'email'],
      dtype='object')

In [81]:
#Reduzindo o df com informações relevantes aos clientes que a Carri Contrutora deve abordar
drop_carri = ['restricao_alimentar', 
              'streaming', 
              'usa_protetor_diariamente',
              'compra_le_listros_anualmente', 
              'qtd_livros_comprados',
              'autor_favorito']
df_carri = df_pesquisa.copy()
df_carri.drop(columns=drop_carri, inplace=True)
df_carri.columns

Index(['nome', 'endereco', 'cidade', 'estado', 'telefone', 'renda_anual',
       'estado_civil', 'idade', 'num_filhos', 'moradia',
       'vai_praia_mensalmente', 'faz_academia', 'email'],
      dtype='object')

In [82]:
df_carri.describe()

        renda_anual      idade  num_filhos
count     25.000000  30.000000   22.000000
mean   67570.640000  44.633333    2.909091
std    20917.823198  16.356973    1.600866
min    22826.000000  18.000000    0.000000
25%    53295.000000  30.250000    2.000000
50%    71448.000000  42.500000    3.000000
75%    86445.000000  60.000000    4.000000
max    95433.000000  78.000000    5.000000

In [127]:
# Para pessoa ter acesso ao minha casa minha vida sua renda bruta precisa ser de 8mil reais mensal 
# Portanto iremos considerar 8*13 para o cálculo de renda anual ao direito minha casa minha vida
direito_minhacasa = 8000*13
df_carri['minha_casa_minha_vida'] = np.where(df_carri.renda_anual <= direito_minhacasa, True, False)
df_carri.minha_casa_minha_vida.value_counts()

minha_casa_minha_vida
True     50
False    12
Name: count, dtype: int64

In [121]:
df_carri.moradia.unique()

array(['Quitada', 'De favor', 'Financiamento', 'Aluguel', nan],
      dtype=object)

In [129]:
# Identificando os clientes que estão em busca de investir num imovel para quitá-lo ou financiar
df_carri['investimento'] = np.where((
    df_carri.moradia == "Quitada") | (df_carri.moradia == "Financiamento"),True, False)
df_carri.head()

,nome,endereco,cidade,estado,telefone,renda_anual,estado_civil,idade,num_filhos,moradia,vai_praia_mensalmente,faz_academia,email,minha_casa_minha_vida,investimento
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,mariaclaranovaes285@gemeil.com,True,True
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,Não,Sim,daviluccapereira933@exemplo.com,True,False
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,srcaiocaldeira626@gemeil.com,False,True
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,kaiqueazevedo731@rotmail.com,True,True
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,NaN,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,pedromoreira622@gemeil.com,True,True

### Cenário 2
Uma empresa chamada Hillo, é uma empresa que está estudando o mercado e
quer encontrar uma parceria com uma empresa de Streeming (netflix, Disney
plus etc), mas gostaria de saber quais as empresas dariam o maior retorno de
investimento. Eles podem fazer análise de machine learning também com
esses dados.

### Cenário 3
Uma influenciadora digital de bem estar gostaria de analisar possíveis
empreendimentos dentro de diferentes propostas que recebe. Essas
propostas podem ser excludentes ou somatórias, ou seja, elas podem ser de
empresas com o mesmo mercado (empresas concorrentes) ou empresas de
mercados diferentes (não concorrentes). Exemplo: duas marcas diferentes de
chá são concorrentes, mas uma marca de chá e uma marca de bolinhos não
são concorrentes.