## Python para Dados - Atividade de Fixação Pandas

In [57]:
import pandas as pd
import numpy as np

### Dataframe e ordenação

1. Faça o upload do CSV carros.csv

In [37]:
data_carros = 'D:\Projetos\WMC\Data_Analytics_WoMakersCode_Bootcamp\exercicios_python\python_pandas\data\carros.csv'
df_carros = pd.read_csv(data_carros)

2. Print seu head com 10 linhas

In [38]:
df_carros.head(10)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado
0,Sul,Acre,4342,1034,23942.0
1,Centro-Oeste,Alagoas,18991,3253,23431.0
2,Sudeste,Amapá,6463,4152,7747.0
3,Centro-Oeste,Amazonas,3180,2955,5189.0
4,Centro-Oeste,Bahia,11288,2585,24118.0
5,Nordeste,Ceará,10807,4943,40773.0
6,Sudeste,Distrito Federal,5786,4459,6899.0
7,Sudeste,Espírito Santo,5494,4073,6267.0
8,Sudeste,Goiás,24412,2021,36551.0
9,Centro-Oeste,Maranhão,8472,4461,16394.0

3. Agora print as colunas e index do dataframe

In [39]:
df_carros.columns

Index(['Região', 'Estado', 'Quant Carros', 'Quant Carros Família com Filhos',
       'População do Estado'],
      dtype='object')

In [40]:
df_carros.index

RangeIndex(start=0, stop=27, step=1)

4. Faça um sort decrescente no dataframe pelo estado com maior quantidade de carros

In [41]:
df_carros.sort_values('Quant Carros', ascending=False)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado
18,Norte,Rio de Janeiro,33848,2579,48323.0
8,Sudeste,Goiás,24412,2021,36551.0
21,Centro-Oeste,Rondônia,23113,2981,48001.0
13,Nordeste,Pará,22387,4893,35740.0
25,Sudeste,Sergipe,22307,1815,28483.0
1,Centro-Oeste,Alagoas,18991,3253,23431.0
12,Centro-Oeste,Minas Gerais,17291,4843,46606.0
26,Sudeste,Tocantins,17144,4342,22159.0
4,Centro-Oeste,Bahia,11288,2585,24118.0
5,Nordeste,Ceará,10807,4943,40773.0
14,Sul,Paraíba,10666,2500,19502.0
16,Sul,Pernambuco,10533,3449,15627.0
23,Norte,Santa Catarina,9466,3317,28897.0
9,Centro-Oeste,Maranhão,8472,4461,16394.0
17,Centro-Oeste,Piauí,7912,3777,13792.0
2,Sudeste,Amapá,6463,4152,7747.0
19,Sul,Rio Grande do Norte,6396,1161,48021.0
24,Norte,São Paulo,6317,4934,7612.0
15,Nordeste,Paraná,6036,1702,26777.0
6,Sudeste,Distrito Federal,5786,4459,6899.0
11,Sudeste,Mato Grosso do Sul,5683,2129,8890.0
7,Sudeste,Espírito Santo,5494,4073,6267.0
10,Sul,Mato Grosso,4868,3613,8556.0
0,Sul,Acre,4342,1034,23942.0
22,Sul,Roraima,3561,1995,16016.0
3,Centro-Oeste,Amazonas,3180,2955,5189.0
20,Nordeste,Rio Grande do Sul,2241,1201,13433.0

5. Descubra qual a proporção de carro para a população de cada estado e insira em uma nova coluna

In [42]:
proporcao_carro = df_carros['Quant Carros'] / df_carros['População do Estado']
proporcao_carro

0     0.181355
1     0.810507
2     0.834258
3     0.612835
4     0.468032
5     0.265053
6     0.838672
7     0.876655
8     0.667889
9     0.516774
10    0.568957
11    0.639258
12    0.371004
13    0.626385
14    0.546918
15    0.225417
16    0.674026
17    0.573666
18    0.700453
19    0.133192
20    0.166828
21    0.481511
22    0.222340
23    0.327577
24    0.829874
25    0.783169
26    0.773681
dtype: float64

In [43]:
df_carros['Carros por habitante'] = proporcao_carro
df_carros.head()

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
0,Sul,Acre,4342,1034,23942.0,0.181355
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032

6. Faça um dataframe com Estado e proporção de carro por habitante

In [44]:
df_estado_hab = df_carros[['Estado', 'Carros por habitante']]
df_estado_hab.head(2)

    Estado  Carros por habitante
0     Acre              0.181355
1  Alagoas              0.810507

### Agregação de dados
Utilizando o arquivos: concurso.csv

In [45]:
data_concurso = 'D:\Projetos\WMC\Data_Analytics_WoMakersCode_Bootcamp\exercicios_python\python_pandas\data\dados_concurso.csv'
df_concurso = pd.read_csv(data_concurso)
df_concurso.shape

(100, 10)

In [46]:
df_concurso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Número de Inscrição  100 non-null    object
 1   Data de Nascimento   82 non-null     object
 2   Data de Inscrição    100 non-null    object
 3   Cidade               79 non-null     object
 4   Estado               79 non-null     object
 5   Sexo                 84 non-null     object
 6   Deficiência          85 non-null     object
 7   Nome                 100 non-null    object
 8   Sobrenome            100 non-null    object
 9   Escolaridade         80 non-null     object
dtypes: object(10)
memory usage: 7.9+ KB

7. Quantas pessoas são do estado do Piauí?

In [47]:
df_concurso[df_concurso['Estado'] == 'PI']['Número de Inscrição'].count()

4

In [48]:
df_concurso[['Número de Inscrição', 'Estado']].groupby('Estado').count()

        Número de Inscrição
Estado
AL                        3
AM                        1
AP                        6
BA                        3
CE                        3
DF                        2
ES                        1
GO                        4
MA                        4
MG                        3
MS                        2
MT                        3
PA                        4
PB                        3
PE                        5
PI                        4
PR                        1
RJ                        2
RN                        5
RO                        2
RR                        1
RS                        2
SC                        3
SE                        5
SP                        4
TO                        3

7. Qual a distribuição de escolaridade por estado?

In [49]:
df_concurso[['Estado', 'Escolaridade', 'Número de Inscrição']].groupby(['Estado', 'Escolaridade']).count()

                           Número de Inscrição
Estado Escolaridade
AL     Ensino Fundamental                    1
       Ensino Superior                       1
AM     Ensino Superior                       1
AP     Ensino Fundamental                    3
       Ensino Médio                          2
BA     Ensino Superior                       2
CE     Ensino Fundamental                    1
       Ensino Médio                          1
       Ensino Superior                       1
DF     Ensino Superior                       2
ES     Ensino Superior                       1
GO     Ensino Fundamental                    2
       Ensino Médio                          2
MA     Ensino Fundamental                    2
MG     Ensino Fundamental                    1
       Ensino Médio                          1
       Ensino Superior                       1
MS     Ensino Médio                          1
       Ensino Superior                       1
MT     Ensino Médio                          1
       Ensino Superior                       1
PA     Ensino Médio                          1
       Ensino Superior                       3
PB     Ensino Fundamental                    1
       Ensino Superior                       1
PE     Ensino Fundamental                    2
       Ensino Médio                          2
PI     Ensino Médio                          1
       Ensino Superior                       3
PR     Ensino Fundamental                    1
RJ     Ensino Fundamental                    1
       Ensino Superior                       1
RN     Ensino Fundamental                    2
       Ensino Médio                          1
       Ensino Superior                       2
RO     Ensino Fundamental                    1
RS     Ensino Médio                          1
SC     Ensino Médio                          1
       Ensino Superior                       1
SE     Ensino Fundamental                    2
       Ensino Médio                          1
       Ensino Superior                       1
SP     Ensino Fundamental                    2
       Ensino Médio                          1
TO     Ensino Fundamental                    1
       Ensino Superior                       1

8. Qual é a porcentagem de pessoas com deficiência?

In [50]:
df_concurso['Deficiência'].value_counts(normalize=True) * 100

Deficiência
Sim    52.941176
Não    47.058824
Name: proportion, dtype: float64

### Indexação e fatiamento


Temos como base inscrições em um concurso público, utilizando indexação retorne:
10. Quantas pessoas são do estado do Piauí?

In [51]:
df_concurso.columns

Index(['Número de Inscrição', 'Data de Nascimento', 'Data de Inscrição',
       'Cidade', 'Estado', 'Sexo', 'Deficiência', 'Nome', 'Sobrenome',
       'Escolaridade'],
      dtype='object')

10. Retorne o dado com número de inscrição, nome, data de nascimento.

In [52]:
df_concurso[['Número de Inscrição', 'Nome', 'Data de Nascimento']]

                     Número de Inscrição           Nome Data de Nascimento
0   f2bf14e6-9ecc-43d1-9098-1a133277d26a    João Miguel                NaN
1   afd1d890-dbfd-4d72-a9a2-4309f356167a   Maria Sophia         1910-02-05
2   16451a82-28f8-48bf-a5b6-9f0c5b25ef6b       Giovanna                NaN
3   200731b4-a651-4a2d-9d01-11d4d6a41511    João Felipe         1949-11-21
4   22369508-74a2-403b-8237-1851971a08d6       Benjamin         1963-06-26
..                                   ...            ...                ...
95  b162a88d-6afa-46aa-afbe-f5b0e0d13ce4           Cauê                NaN
96  25e9b106-2c3d-444d-b7d4-ae34ad33bc88  Maria Eduarda                NaN
97  4ffbc174-78af-4da1-a53a-b442c20a876e       Catarina                NaN
98  d4e8e12a-3298-4ff1-a80f-2946431bd5a7       Giovanna         1916-06-21
99  7af3e5da-99a2-4f0f-900c-cbc194351ce8          Eloah         1959-03-14

[100 rows x 3 columns]

In [53]:
df_concurso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Número de Inscrição  100 non-null    object
 1   Data de Nascimento   82 non-null     object
 2   Data de Inscrição    100 non-null    object
 3   Cidade               79 non-null     object
 4   Estado               79 non-null     object
 5   Sexo                 84 non-null     object
 6   Deficiência          85 non-null     object
 7   Nome                 100 non-null    object
 8   Sobrenome            100 non-null    object
 9   Escolaridade         80 non-null     object
dtypes: object(10)
memory usage: 7.9+ KB

11. Quantas pessoas nasceram antes de 1995?

In [56]:
df_concurso['Data de Nascimento'] = pd.to_datetime(df_concurso['Data de Nascimento'])
df_concurso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Número de Inscrição  100 non-null    object
 1   Data de Nascimento   82 non-null     datetime64[ns]
 2   Data de Inscrição    100 non-null    object
 3   Cidade               79 non-null     object
 4   Estado               79 non-null     object
 5   Sexo                 84 non-null     object
 6   Deficiência          85 non-null     object
 7   Nome                 100 non-null    object
 8   Sobrenome            100 non-null    object
 9   Escolaridade         80 non-null     object
dtypes: datetime64[ns](1), object(9)
memory usage: 7.9+ KB

In [64]:
df_antes95 = df_concurso.loc[df_concurso['Data de Nascimento'] < np.datetime64('1995')]

12. Quais foram os primeiros 10 inscritos?

In [78]:
df_10primeiras = df_concurso.set_index('Data de Inscrição').sort_index()[:10]

In [73]:
df_concurso.sort_values('Data de Inscrição').iloc[:10]

,Número de Inscrição,Data de Nascimento,Data de Inscrição,Cidade,Estado,Sexo,Deficiência,Nome,Sobrenome,Escolaridade
6,1d6b237b-44d1-43d8-92c7-0825c3a02805,NaT,2022-01-05 07:21:28,Moreira,TO,F,Não,Anthony,Barros,Ensino Superior
11,26a5f7c3-f7bb-46d9-a9b2-0ca62429c56d,2000-07-09,2022-01-05 07:26:19,NaN,RJ,F,Sim,Bruno,Azevedo,Ensino Superior
30,d6a8ad8a-511a-46d7-ab54-e9ee1ce9f845,1941-09-25,2022-01-05 11:45:04,Freitas da Praia,RJ,F,Sim,Isabella,Ramos,Ensino Fundamental
79,a87116d6-215c-459d-b36d-04dea839d3fe,NaT,2022-01-05 14:25:54,da Mota,GO,F,Não,Bryan,Castro,Ensino Fundamental
41,cdebe031-88d0-4099-bfb2-47123c30ba15,2012-09-06,2022-01-05 16:46:21,Ramos Alegre,SC,F,NaN,Milena,da Paz,Ensino Superior
76,48b96931-5a54-4b6c-bbab-c46bc7e56957,1970-06-26,2022-01-05 17:58:42,Monteiro do Amparo,NaN,F,Não,Clara,Moreira,Ensino Médio
12,f3cae86a-4920-407f-9fcd-7317da8221e2,2016-03-10,2022-01-05 18:28:29,Silva do Galho,SP,F,Não,Alexandre,Souza,NaN
42,0a1b5390-6ef7-442c-81cf-14754a0562a6,1947-11-26,2022-01-06 06:15:29,Caldeira de Goiás,DF,F,Sim,Mariane,Porto,Ensino Superior
34,b4dcd7a3-0682-4b81-80c0-28b74cf58187,1992-09-11,2022-01-06 17:07:32,da Luz do Oeste,RO,F,Sim,Marcela,Costela,NaN
55,1060853a-7405-4058-bc9a-56cc6334f27c,1965-09-07,2022-01-06 17:34:51,da Rosa do Campo,NaN,M,Não,Valentina,Gomes,Ensino Fundamental

11. Quantas do ES são so sexo feminino?

In [55]:
df_filter_ES = df_concurso[['Estado', 'Sexo', 'Número de Inscrição']].groupby(['Estado', 'Sexo']).count().reset_index()
df_filter_ES[df_filter_ES['Estado'].isin(['ES'])]

  Estado Sexo  Número de Inscrição
8     ES    F                    1

### Valores faltosos
14. Para os valores faltosos coloque:<br/>
    a. Se string: Falta informação<br/>
    b. Se número: mediana

15. Plote a porcentagem de dados faltosos para cada coluna.