## Python para Dados - Atividade de Fixação Pandas

In [17]:
import pandas as pd

### Dataframe e ordenação

1. Faça o upload do CSV carros.csv

In [18]:
data = 'D:\Projetos\WMC\Data_Analytics_WoMakersCode_Bootcamp\exercicios_python\python_pandas\data\carros.csv'
df_carros = pd.read_csv(data)

2. Print seu head com 10 linhas

In [19]:
df_carros.head(10)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado
0,Sul,Acre,4342,1034,23942.0
1,Centro-Oeste,Alagoas,18991,3253,23431.0
2,Sudeste,Amapá,6463,4152,7747.0
3,Centro-Oeste,Amazonas,3180,2955,5189.0
4,Centro-Oeste,Bahia,11288,2585,24118.0
5,Nordeste,Ceará,10807,4943,40773.0
6,Sudeste,Distrito Federal,5786,4459,6899.0
7,Sudeste,Espírito Santo,5494,4073,6267.0
8,Sudeste,Goiás,24412,2021,36551.0
9,Centro-Oeste,Maranhão,8472,4461,16394.0

3. Agora print as colunas e index do dataframe

In [20]:
df_carros.columns

Index(['Região', 'Estado', 'Quant Carros', 'Quant Carros Família com Filhos',
       'População do Estado'],
      dtype='object')

In [21]:
df_carros.index

RangeIndex(start=0, stop=27, step=1)

4. Faça um sort decrescente no dataframe pelo estado com maior quantidade de carros

In [22]:
df_carros.sort_values('Quant Carros', ascending=False)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado
18,Norte,Rio de Janeiro,33848,2579,48323.0
8,Sudeste,Goiás,24412,2021,36551.0
21,Centro-Oeste,Rondônia,23113,2981,48001.0
13,Nordeste,Pará,22387,4893,35740.0
25,Sudeste,Sergipe,22307,1815,28483.0
1,Centro-Oeste,Alagoas,18991,3253,23431.0
12,Centro-Oeste,Minas Gerais,17291,4843,46606.0
26,Sudeste,Tocantins,17144,4342,22159.0
4,Centro-Oeste,Bahia,11288,2585,24118.0
5,Nordeste,Ceará,10807,4943,40773.0
14,Sul,Paraíba,10666,2500,19502.0
16,Sul,Pernambuco,10533,3449,15627.0
23,Norte,Santa Catarina,9466,3317,28897.0
9,Centro-Oeste,Maranhão,8472,4461,16394.0
17,Centro-Oeste,Piauí,7912,3777,13792.0
2,Sudeste,Amapá,6463,4152,7747.0
19,Sul,Rio Grande do Norte,6396,1161,48021.0
24,Norte,São Paulo,6317,4934,7612.0
15,Nordeste,Paraná,6036,1702,26777.0
6,Sudeste,Distrito Federal,5786,4459,6899.0
11,Sudeste,Mato Grosso do Sul,5683,2129,8890.0
7,Sudeste,Espírito Santo,5494,4073,6267.0
10,Sul,Mato Grosso,4868,3613,8556.0
0,Sul,Acre,4342,1034,23942.0
22,Sul,Roraima,3561,1995,16016.0
3,Centro-Oeste,Amazonas,3180,2955,5189.0
20,Nordeste,Rio Grande do Sul,2241,1201,13433.0

5. Descubra qual a proporção de carro para a população de cada estado e insira em uma nova coluna

In [23]:
proporcao_carro = df_carros['Quant Carros'] / df_carros['População do Estado']
proporcao_carro

0     0.181355
1     0.810507
2     0.834258
3     0.612835
4     0.468032
5     0.265053
6     0.838672
7     0.876655
8     0.667889
9     0.516774
10    0.568957
11    0.639258
12    0.371004
13    0.626385
14    0.546918
15    0.225417
16    0.674026
17    0.573666
18    0.700453
19    0.133192
20    0.166828
21    0.481511
22    0.222340
23    0.327577
24    0.829874
25    0.783169
26    0.773681
dtype: float64

In [24]:
df_carros['Carros por habitante'] = proporcao_carro
df_carros.head()

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
0,Sul,Acre,4342,1034,23942.0,0.181355
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032

6. Faça um dataframe com Estado e proporção de carro por habitante

In [25]:
df_estado_hab = df_carros[['Estado', 'Carros por habitante']]
df_estado_hab.head(2)

    Estado  Carros por habitante
0     Acre              0.181355
1  Alagoas              0.810507

### Agregação de dados
7. Qual a média de idade por região?

8. Qual é a porcentagem de pessoas com deficiência?

9. Quantas pessoas são do estado do Piauí?

### Indexação e fatiamento

Utilizando o arquivos: concurso.csv

Temos como base inscrições em um concurso público, utilizando indexação retorne:
10. Quantas pessoas são do estado do Piauí?

10. Quantas pessoas são do estado do Piauí?

11. Quantas do ES são so sexo feminino?

12. Quantas pessoas nasceram antes de 1995?

13. Retorne os dados dos inscritos com as colunas: nº inscrição, nome e idade.

### Valores faltosos
14. Para os valores faltosos coloque:<br/>
    a. Se string: Falta informação<br/>
    b. Se número: mediana

15. Plote a porcentagem de dados faltosos para cada coluna.